body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background-color: #f4f4f4;
     */
     background-image: url('/images/login_bg');
     background-size: cover;
  }
  body img{
    height: 8rem;
  }
  
  .form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
  }
  
  input {
    width: 97%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p {
    margin-top: 20px;
  }  
  
  
  #login_btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  #login_btn button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: 80%; */
    
    margin: 15px 15px 0px 15px;
  }

  #login_btn a{
    text-decoration: none;
  }




  
