body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background-color: #f4f4f4;
     */
     background-image: url('/images/back_img.jpg');
     background-size: cover;
  }
  body img{
    height: 8rem;
  }
  
  .form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p {
    margin-top: 20px;
  }
  
  .icon {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .question-icon {
    margin-left: 5px;
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    position: relative;
  }
  
  .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: #f9f9f9;
    color: #000;
    text-align: left;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  

   #displayImage {
    /* display: none; */
    /* max-width: 100px; */
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* progress style */
  #progressText {
    display: none; /* Hide by default */
    margin-top: 10px;
    text-align: center; /* Center the text */
  }

  progress {
    display: block;
    width: 100%;
    height: 20px;
    margin-top: 10px;
  }
  
  progress::-webkit-progress-bar {
    background-color: #f3f3f3; /* Background color */
    border-radius: 5px;
  }
  
  progress::-webkit-progress-value {
    background-color: #4caf50; /* Color of the progress */
    border-radius: 5px;
  }
  
  progress::-moz-progress-bar {
    background-color: #4caf50; /* Color of the progress for Firefox */
    border-radius: 5px;
  }
  


  
