* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    background-image: url("/images/pass.jpg");

    background-repeat: no-repeat;
    background-size: cover;
     }
  img{
    position: absolute;
    left: 45%;
    top: 20px;
    height: 20vh;
  }
  
  #rbtn, #back {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  #rbtn:hover, #back:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  .popup {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff4d4d;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    display: none;
    animation: fadeIn 0.5s forwards;
  }
  
  #confirm-popup, #email-popup, #message-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    width: 300px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    display: none;
    animation: slideIn 0.5s forwards;
  }
  
  #confirm-popup p, #email-popup p, #message-popup p {
    margin-bottom: 20px;
    color: #333;
  }
  
  button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translate(-50%, -50%) scale(0.9);
      opacity: 0;
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
  }
  
  #confirm-popup.show, #email-popup.show, #message-popup.show {
    display: block;

  }
  