*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {

    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('/images/back_img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  body img {
    height: 8rem;
  }
  span{
    font-weight: 600;
  }
 
  
  .form-container {
    position: absolute;
    top: 15vh;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
    width: 25%;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
    transition: all 0.3s ease;
  }
  
  h2 {
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
  }
  
  input,
  textarea,
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    border-color: #007bff;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }
  
  .icon {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .question-icon {
    margin-left: 5px;
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    position: relative;
  }
  
  .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: #f9f9f9;
    color: #000;
    text-align: left;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .question-icon:hover + .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  #displayImage {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  
  
  #progressText {
    display: none; 
    margin-top: 10px;
    text-align: center;
    color: #555;
  }
  
  progress {
    display: block;
    width: 100%;
    height: 20px;
    margin-top: 10px;
    border-radius: 5px;
    overflow: hidden;
  }
  
  progress::-webkit-progress-bar {
    background-color: #f3f3f3;
    border-radius: 5px;
  }
  
  progress::-webkit-progress-value {
    background-color: #4caf50;
    border-radius: 5px;
    transition: width 0.3s ease;
  }
  
  progress::-moz-progress-bar {
    background-color: #4caf50;
    border-radius: 5px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  